*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    cursor:pointer;
    font-family:  sans-serif;
}
body{
    width:100%;
    min-height: 100vh;
    background: black;
    
    

}
 .home {
    color:white;
     
    
 }


     


header{
    display: flex;
    justify-content: space-between;
    padding:40px 20px;
    color:white;
    animation:header 1s ease-in-out;
}
@keyframes header{
    0%{
        transform: translateY(-100%);
    }
}


nav li{
    display:inline-block;
    margin:10px 20px;
    font-weight: 600;
}
.project{
    width:100%;
    display:flex;
}
.content{
    width:50%;
    margin-top: 8%;
    margin-left: 5%;
    color: white;
    animation:content 2s ease-in-out;
}
@keyframes content{
    0%{
        opacity:0;
        transform: translateX(-50%);
    }
}
.content h1{
    font-size: 80px;
    margin-bottom: 1%;
    letter-spacing: 8px;
}
.content h3{
    font-size: 30px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
span{
    color:aquamarine;
}
.content p{
    font-size:20px;
    margin-bottom: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    padding:15px 30px;
    background: transparent;
    color:white;
    margin-top:30px;
    font-size: 15px;
    border-radius:30px;
}
button:hover{
    background: rgb(10, 190, 255);
}
.image{
    position: relative;
    top:0;
    left:30%;
    width: 100%;
   pointer-events: none;
}
.image #model2{
    position: relative;
    top:0;
    
    right: 50%;
    width:50%;
   pointer-events: none;

}
.logo#home{
    padding:15px 30px;
    background: transparent;
    color:white;
    margin-top:30px;
    font-size: 15px;
    border-radius:30px;

}
.nav p{

    padding:15px 30px;
    background: transparent;
    color:rgb(228, 228, 175);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;

    font-size: 20px;
     margin-top:30px;
    font-size: 15px;
    border-radius:30px;


}
